<!-- footer -->
<div class="footer">
	<div class="container">
		<span class="copyright">&copy; Colin Rumball 2018</span>
		<!-- Version -->
		<span class="version-number">{{versionNumber}}</span>
	</div>
</div>