<div class="col-lg-6 col-md-4 col-sm-6">
	<label class="checkbox">{{name}}
		<input class="familyMembers" type="checkbox" name="familyMembers" value="{{name}}" {{#if selected}}checked{{/if}}>
		<span class="checkbox-inner"></span>
	</label>
</div>