 <div class="row">
	<div class="col-lg-2 col-md-6 col-sm-12">
		<div class="query">
			<h4>When</h4>
			 {{#each years}} {{> queryYear }} {{/each}}
		</div>
	</div>
	 <div class="col-lg-4 col-md-6 col-sm-12">
		<div class="query">
			<h4>Who</h4>
			<div class="row">
				{{#each members}} {{> queryFamilyMember }} {{/each}}
			</div>
		</div>
	</div>
	<div class="col-lg-2 col-md-6 col-sm-12">
		<div class="query">
			<h4>What</h4>
			{{#each tags}} {{> queryTag }} {{/each}}
		</div>
	</div>
	<div class="col-lg-2 col-md-6 col-sm-12">
		<div class="query">
			<h4>Where</h4>
			{{#each locations}} {{> queryLocation }} {{/each}}
		</div>
	</div>
	<div class="col-lg-2 col-md-12 col-sm-12">
		<div class="query">
			<h4>&#9733;Rating</h4>
			<div class="row">
				{{#each ratings}} {{> queryRating }} {{/each}}
			</div>
		</div>
	</div>
</div>
{{!-- <div class="query-clear-button-container">
	<input type="button" class="query-clear-button" id="query-clear-button" value="Clear Selection">
</div> --}}