<div class="col-lg-12">
	<label class="checkbox">{{rating}}
		<input class="entertainmentRatings" type="checkbox" name="ratings" value="{{rating}}" {{#if selected}}checked{{/if}}>
		<span class="checkbox-inner"></span>
	</label>
</div>