<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Rumball Home Videos</title>
        <link rel="stylesheet" type="text/css" href="/../public/css/style.css">
        <script src="/../public/js/jquery-3.2.1.min.js" type="text/javascript"></script>
        <script type="text/javascript" src="/../public/js/script.js"></script>
    </head>
    <body>
        <div id="page-header">
            <div id="content">
                <img id="image" src="/../public/images/Video-Camera-icon.png">
                <div id="pageTitle">
                    Family Videos
                </div>
            </div>
        </div>

        <div id="sidebar">
            <div id="sidebar-content">
                <form>
                    <fieldset>
                        <h4>Search</h4>
                        <input type="text" id="SearchQuery">
                    </fieldset>
                    <fieldset>
                        <h4>Who</h4>
                        <table>
                            <tr>
                                <td><label class="checkbox">Papa
                                    <input class="familyMembers" type="checkbox" name="familyMembers" value="Kenneth Rumball">
                                    <span class="checkbox-inner"></span>
                                </label></td>
                                <td class="push-right"><label class="checkbox">Grandma
                                    <input class="familyMembers" type="checkbox" name="familyMembers" value="Catherine Rumball">
                                    <span class="checkbox-inner"></span>
                                </label></td>
                            </tr>
                            <tr>
                                <td><label class="checkbox">John
                                    <input class="familyMembers" type="checkbox" name="familyMembers" value="John Rumball">
                                    <span class="checkbox-inner"></span>
                                </label></td>
                                <td class="push-right"><label class="checkbox">Valerie
                                    <input class="familyMembers" type="checkbox" name="familyMembers" value="Valerie Rumball">
                                    <span class="checkbox-inner"></span>
                                </label></td>
                            </tr>
                            <tr>
                                <td><label class="checkbox">Colin
                                    <input class="familyMembers" type="checkbox" name="familyMembers" value="Colin Rumball">
                                    <span class="checkbox-inner"></span>
                                </label></td>
                                <td class="push-right"><label class="checkbox">Kelsey
                                    <input class="familyMembers" type="checkbox" name="familyMembers" value="Kelsey Rumball">
                                    <span class="checkbox-inner"></span>
                                </label></td>
                            </tr>
                            <tr>
                                <td><label class="checkbox">Rick
                                    <input class="familyMembers" type="checkbox" name="familyMembers" value="Rick Lean">
                                    <span class="checkbox-inner"></span>
                                </label></td>
                                <td class="push-right"><label class="checkbox">Lauralyn
                                    <input class="familyMembers" type="checkbox" name="familyMembers" value="Lauralyn Lean">
                                    <span class="checkbox-inner"></span>
                                </label></td>
                            </tr>
                            <tr>
                                <td><label class="checkbox">Alicia
                                    <input class="familyMembers" type="checkbox" name="familyMembers" value="Alicia Lean">
                                    <span class="checkbox-inner"></span>
                                </label></td>
                                <td class="push-right"><label class="checkbox">Olivia
                                    <input class="familyMembers" type="checkbox" name="familyMembers" value="Olivia Lean">
                                    <span class="checkbox-inner"></span>
                                </label></td>
                            </tr>
                            <tr>
                                <td><label class="checkbox">Dave
                                    <input class="familyMembers" type="checkbox" name="familyMembers" value="David Rumball">
                                    <span class="checkbox-inner"></span>
                                </label></td>
                                <td class="push-right"><label class="checkbox">Kim
                                    <input class="familyMembers" type="checkbox" name="familyMembers" value="Kimberley Rumball">
                                    <span class="checkbox-inner"></span>
                                </label></td>
                            </tr>
                        </table>
                    </fieldset>
                    <fieldset>
                        <h4>When</h4>
                        <table>
                            <tr>
                                <td><label class="radiobutton">Any Year
                                    <input class="years" type="radio" name="years" value="any" checked>
                                    <span class="radiobutton-inner"></span>
                                </label></td>
                            </tr>
                            <tr>
                                <td><label class="radiobutton">1991
                                    <input class="years" type="radio" name="years" value="1991">
                                    <span class="radiobutton-inner"></span>
                                </label></td>
                                <td class="push-left"><label class="radiobutton">1994
                                    <input class="years" type="radio" name="years" value="1994">
                                    <span class="radiobutton-inner"></span>
                                </label></td>
                            </tr>
                            <tr>
                                <td><label class="radiobutton">1992
                                    <input class="years" type="radio" name="years" value="1992">
                                    <span class="radiobutton-inner"></span>
                                </label></td>
                                <td class="push-left"><label class="radiobutton">1995
                                    <input class="years" type="radio" name="years" value="1995">
                                    <span class="radiobutton-inner"></span>
                                </label></td>
                            </tr>
                            <tr>
                                <td><label class="radiobutton">1993
                                    <input class="years" type="radio" name="years" value="1993">
                                    <span class="radiobutton-inner"></span>
                                </label></td>
                                <td class="push-left"><label class="radiobutton">1996
                                    <input class="years" type="radio" name="years" value="1996">
                                    <span class="radiobutton-inner"></span>
                                </label></td>
                            </tr>
                        </table>
                    </fieldset>
                    <fieldset>
                        <h4>Where</h4>
                        <label class="radiobutton">Any Place
                            <input class="locations" type="radio" name="locations" value="any" checked>
                            <span class="radiobutton-inner"></span>
                        </label>
                        <label class="radiobutton">Horseshoe Valley
                            <input class="locations" type="radio" name="locations" value="Horseshoe Valley">
                            <span class="radiobutton-inner"></span>
                        </label>
                        <label class="radiobutton">Papa & Grandma's House
                            <input class="locations" type="radio" name="locations" value="Papa and Grandma's House">
                            <span class="radiobutton-inner"></span>
                        </label>
                        <label class="radiobutton">Rumball House
                            <input class="locations" type="radio" name="locations" value="Rumball House">
                            <span class="radiobutton-inner"></span>
                        </label>
                        <label class="radiobutton">Lean House
                            <input class="locations" type="radio" name="locations" value="Lean House">
                            <span class="radiobutton-inner"></span>
                        </label>
                        <label class="radiobutton">Cobourg
                            <input class="locations" type="radio" name="locations" value="Cobourg">
                            <span class="radiobutton-inner"></span>
                        </label>
                    </fieldset>
                    <fieldset>
                        <h4>What</h4>
                        <table>
                            <tr>
                                <td><label class="checkbox">Cute
                                    <input class="tags" type="checkbox" name="tags" value="Cute">
                                    <span class="checkbox-inner"></span>
                                </label></td>
                                <td><label class="checkbox">Funny
                                    <input class="tags" type="checkbox" name="tags" value="Funny">
                                    <span class="checkbox-inner"></span>
                                </label></td>
                            </tr>
                            <tr>
                                <td><label class="checkbox">Heartwarming
                                    <input class="tags" type="checkbox" name="tags" value="Heart Warming">
                                    <span class="checkbox-inner"></span>
                                </label></td>
                                <td><label class="checkbox">Holidays
                                    <input class="tags" type="checkbox" name="tags" value="Holidays">
                                    <span class="checkbox-inner"></span>
                                </label></td>
                            </tr>
                            <tr>
                                <td><label class="checkbox">Birthdays
                                    <input class="tags" type="checkbox" name="tags" value="Birthdays">
                                    <span class="checkbox-inner"></span>
                                </label></td>
                                <td><label class="checkbox">Sports
                                    <input class="tags" type="checkbox" name="tags" value="Sports and Activities">
                                    <span class="checkbox-inner"></span>
                                </label></td>
                            </tr>
                        </table>
                    </fieldset>
                    <fieldset>
                        <h4>&#9733;Rating</h4>
                        <table>
                            <tr>
                                <td><label class="checkbox">1
                                    <input class="entertainmentRatings" type="checkbox" name="entertainmentRatings" value="1">
                                    <span class="checkbox-inner"></span>
                                </label></td>
                                <td><label class="checkbox">2
                                    <input class="entertainmentRatings" type="checkbox" name="entertainmentRatings" value="2">
                                    <span class="checkbox-inner"></span>
                                </label></td>
                                <td><label class="checkbox">3
                                    <input class="entertainmentRatings" type="checkbox" name="entertainmentRatings" value="3">
                                    <span class="checkbox-inner"></span>
                                </label></td>
                                <td><label class="checkbox">4
                                    <input class="entertainmentRatings" type="checkbox" name="entertainmentRatings" value="4">
                                    <span class="checkbox-inner"></span>
                                </label></td>
                                <td><label class="checkbox">5
                                    <input class="entertainmentRatings" type="checkbox" name="entertainmentRatings" value="5">
                                    <span class="checkbox-inner"></span>
                                </label></td>
                            </tr>
                        </table>
                    </fieldset>
                    <div id="clearButton-container">
                        <input type="button" id="clearButton" value="Clear Selection" onclick="onClearClicked(event)">
                    </div>
                </form>
            </div>
        </div>
        <div id="clip-list">
            {{#each clips}}
                {{> clip }}
            {{/each}}
        </div>
    </body>
</html>