.query-form {
	width: 100%;
}

.query-search-box-container {
	width: 100%;
	height: 100%;
}

.query-search-box {
	width: 80%;
	height: 45px;
	line-height: 40px;
	padding: 0 7px;
	float: left;
}

.query-search-button {
	width: 45px;
	height: 45px;
	cursor: pointer;
}

.query-options {
	float: right;
	line-height: 40px;
}

.query-options span {
	display: inline-block;
	font-size: 20px;
	padding: 0 10px;
	height: 100%;
}

.query-options span:not(:last-child) {
	border-right: 1px solid #CDCCCA;
}

.sort-button a {
	color: #212529;
}

.sort-button a:hover {
	color: #427074;
	text-decoration: none;
}

.collapsed-queries {
	margin-top: 1%;
}

.query {
}

.query h4 {
	border-bottom: 1px solid #CDCCCA;
	padding: 5px 0;
}

.query-submit-button-container {
	margin: 1% auto;
	height: 45px;
	text-align: center;
}

.query-submit-button {
	height: 45px;
	padding: 7px 35px;
	margin: auto;
}

.no-results-message {
	margin: 20px auto;
	font-size: 23px;
}

/* CLIPS */

.clips-container {
	padding-top: 2%;
	padding-left: 5px;
	padding-right: 5px;
}

.grid-style-clip {
	padding-left: 1%;
	padding-right: 1%;
}

.clip:hover {
	cursor: pointer;
}

.clip:hover .clip-info {
	background-color: rgb(249, 248, 244);
	border: 1px solid rgb(182, 181, 181);
	cursor: pointer;
}

/* GRID STYLE */

.grid-style-clip .clip {
	width: 100%;
	margin: 3% 0;
}

.grid-style-clip .clip-info {
	position: absolute;
	left: 3%;
	padding: 7px;
	top: 60%;
	width: 94%;
	height: 37%;
	background-color: rgb(248, 245, 235);
	border: 1px solid rgb(205, 204, 202);
}

.grid-style-clip .clip-image {
	width: 100%;
	height: auto;
}

.grid-style-clip #location {
	position: absolute;
	bottom: 8px;
}

.grid-style-clip #year {
	position: absolute;
	right: 8px;
	bottom: 8px;
}

/* LIST STYLE */

.list-style-clip {

}

.list-style-clip .clip {
	width: 100%;
	height: 190px;
	margin: 1% 0;
}

.list-style-clip .clip-image {
	float: left;
	height: 100%;
	width: auto;
	padding-right: 10px;
}

.list-style-clip .clip-info {
	padding: 7px 0;
	width: 100%;
	height: calc(100% - 44px);
	background-color: rgb(248, 245, 235);
	border: 1px solid rgb(205, 204, 202);
}

.list-style-clip .clip-footer {
	width: 100%;
	line-height: 44px;
	background-color: #ddd7c5;
}

.list-style-clip:hover .clip-footer {
	background-color: rgb(216, 210, 192);
}

.list-style-clip #title {
	font-size: 20px;
	width: 92%;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.list-style-clip #year {
	position: absolute;
	font-size: 18px;
	right: 26px;
	top: 20px;
}

.list-style-clip #location {
	font-size: 17px;
	padding-bottom: 8px;
	border-bottom: 1px solid rgb(205, 204, 202);
}

.list-style-clip #family-members {
	font-size: 18px;
	padding-top: 20px;
}

.list-style-clip #tags {
	font-size: 17px;
}

.list-style-clip #rating {
	font-size: 18px;
	position: absolute;
	right: 28px;
	bottom: 10px;
}

/* PAGING */

.page-buttons {
	width: 100%;
	margin: 2% auto;
	text-align: center;	
	line-height: 24px;
	font-size: 24px;
}

.page-buttons span:nth-of-type(1) {
	/* float: left; */
}

.page-buttons span:nth-of-type(2) {
	display: inline-block;
	margin: auto 15px;
	text-align: center;
	line-height: 38px;
}

.page-buttons span:nth-of-type(3) {
	/* float: right; */
}

/* EXTRA */

.hidden {
	display: none;
	height: 1px;
}