.video-iframe-container {
	position: relative;
	width: 100%;
	height: 0;
	margin: 1% auto;
	padding-bottom: 56.25%;
}

.video-iframe-container iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.video-info {
	position: relative;
	width: 100%;
	font-size: 20px;
}

.video-info p {
	margin: 0;
}

#video-title {
	width: 86%;
	margin: 0;
	padding: 0 8px;
}

#video-year {
	position: absolute;
	right: 3px;
	top: 3px;
}

#video-location {
	padding: 0 8px 8px 8px;
	border-bottom: 1px solid black;
}

#video-family-members {
	padding: 16px 8px;
}

.video-info-footer {
	position: relative;
	background-color: var(--main-header-color);
	line-height: 20px;
	font-size: 20px;
	padding: 8px;
}

#video-tags {
	width: 90%;
}

#video-rating {
	float: right;
}

/* EDIT INFO */

.edit-video-info-button {
	margin: 15px auto;
	padding: 10px 30px;
}

.video-info-edit-title {
	width: 100%;
}

.hidden-info {
	display: none;
	height: 1px;
}

.edit-info-buttons-container {
	margin: 2% auto 5% auto;
}

.edit-info-button {
	padding: 8px 40px;
}