<!DOCTYPE html>
<html lang="en">

<head>
	{{> head }}
	<title>Error | Family Videos</title>
</head>

<body>
	{{> nav this}}
	<div class="container main-content">
		<h1>{{error_title}}</h1>
		<p>{{error_description}}</p>
	</div>
	{{> footer this}}
</body>

</html>