<!DOCTYPE html>
<html lang="en">
<head>
	{{> head }}
	<title>Home | Family Videos</title>
</head>
<body>
	{{> nav}}
	<div class="container">
		<form action="/sign-in" method="POST">
			<input type="text" name="username" id="username" placeholder="Username">
			<input type="password" name="password" id="password" placeholder="Password">
			<button type="submit">Sign In</button>
		</form>
	</div>

</body>
</html>