<!DOCTYPE html>
<html lang="en">
<head>
	{{> head }}
	<title>Sign-In | Family Videos</title>
	<link rel="stylesheet" href="/public/css/pages/user-flow.css">
</head>
<body>
	{{> nav this}}
	<div class="container main-content">
		<form action="/sign-in" method="POST">
			<h1>Sign-In</h1>
			<p>User accounts are primarily used for admin purposes</p>
			<input type="text" name="username" id="username" placeholder="Username">
			<input type="password" name="password" id="password" placeholder="Password">
			<button type="submit" class="btn btn-info">Sign In</button>
		</form>
	</div>
	 {{> footer this}}
</body>
</html>